
<h1><span class="customer">Savings Deposit</span></h1>
<h3><span class="customer"> New Transaction</span> </h3>

<%= form_for @savingsdeposittransaction do |f| %>
   <%= f.hidden_field :savingsdeposit_id , :value => params[:id] %>
    <% if @savingsdeposittransaction.errors.any? %>
       <h4>savingsdeposittransaction not added</h4>
    <ul>
       <% @savingsdeposittransaction.errors.full_messages.each do |error| %>
       <li><%= error %></li>
       <% end %>
    </ul>
<% end %>

<%= f.label :transaction_date %>
<%= f.text_field :transaction_date, :value => Date.today, :readonly => true %><br />

<%= f.label :transaction_type %> 
<%= f.select(:transaction_type, options_for_select(['cash','bank','transfer'])) %><br />

<%= f.label :current_balance %>
<%= f.text_field :current_balance, :value => @savingsdeposittransaction.savingsdeposit.current_balance, :readonly => true %><br />
   
<%= f.label :transaction_mode %>
<%= f.select(:transaction_mode, options_for_select([['Credit', 'Credit'], ['Debit', 'Debit']]))%><br />

<%= f.label :transaction_amount %>
<%= f.text_field :transaction_amount %><br />

<%= f.label :particulars %>
<%= f.text_field :particulars, :id => "particulars" %><br />

<%= f.label :comments %>
<%= f.text_area :comments, :id => "comments", :cols => 8, :rows => 1 %><br />
<br />

<fieldset class="form-actions"> 
<%= f.submit "Add Transaction", class: "btn btn-primary" %></field>
<% end %>